.hero{
    
}

.content{
    margin-top: 4rem;
    margin-left: 6rem;
    margin-right: 6rem;
    border-bottom: solid 1px #0C090D;
    
}

.home-block{
    margin-bottom: 4rem;
    border-bottom: solid 1px #0C090D;
}

.blog-list{

    .post-section{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

